{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row marginTop20">
            <div class="col-xs-12">
                <h1>Send Handshake Request</h1>
            </div>
        </div>

        <div class="row marginTop40">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input type="submit" value="Send Signature" class="btn btn-default pull-right" />

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}