{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Let's Shake on it</h1>
            <p>This is a sample application to "sign a handshake" using HelloSign's API.</p>
            <p><a class="btn btn-primary btn-lg" href="https://www.hellosign.com/" target="_blank" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Integrated</h2>
                <p>Example of integrated request</p>
                <p><a class="btn btn-default" href="{{ path('hellosign_integrated') }}" role="button">Try it out &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>HelloSign Website</h2>
                <p>Example of HelloSign website request</p>
                <p><a class="btn btn-default" href="{{ path('hellosign_website') }}" role="button">Try it out &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Types of Handshakes</h2>
                <p>10 different types of handshakes</p>
                <p><a class="btn btn-default" href="https://jobs.theguardian.com/article/the-top-10-handshakes/" target="_blank" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2017 Handshake Project</p>
        </footer>
    </div>
{% endblock %}
